# vim: filetype=sh
alias C="z /home/faezix/.cache" \
	c='z $(find /home/faezix/.config -maxdepth 1 | fzf) ' \
	dn="z /home/faezix/Downloads" \
	dc="z /home/faezix/Documents" \
	l="z /home/faezix/.local" \
	h="z /home/faezix" \
	w="z /home/faezix/Work" \
	u='z $(~/.scripts/cd_fzf.sh)' \
	tu='~/.scripts/udja_proj.sh' \
	uf="z /home/faezix/Work/Udja/FrontEnd" \
	up="z /home/faezix/Work/Udja/psightenginebackenddjango" \
	un="z /home/faezix/Work/Udja/udja-nextjs" \
	uts="z /home/faezix/Work/Udja/TS" \
	p="z /home/faezix/Pictures" \
	vfz="$EDITOR /home/faezix/.config/zsh/.zshrc" \

alias shutdown='sudo shutdown now'
alias restart='sudo reboot'
alias suspend='sudo pm-suspend'

alias ztr='zathura'
alias cd="z"
alias ka="killall"

# +----+
# | ls |
# +----+

alias ls="lsd --color=auto --group-directories-first"
alias l="lsd -l --group-directories-first"
alias ll="lsd -lahF --group-directories-first"
alias lls="lsd -lahFtr"
alias la='ls -alh --group-directories-first'

# +----+
# | cp |
# +----+
alias cp='cp -iv'
alias mv='mv -iv'
alias rm='rm -iv'

# +--------+
# | pacman |
# +--------+

alias pacman="sudo pacman --color auto"

alias sps='sudo pacman -S'               # install
alias spql='sudo pacman -Ql'             # Pacman Has Installed - what files where installed in a package
alias spss='sudo pacman -Ss'              # search
alias U='sudo pacman -Syu'             # update
alias spr='sudo pacman -R'               # remove package but not dependencies
alias spsrs='sudo pacman -Rs'             # remove package with unused dependencies by other softwares
alias spsc='sudo pacman -Sc'             # remove pacman's cache
alias pacro='pacman -Rns $(pacman -Qtdq)'

alias unlock='rm /var/lib/pacman/db.lck'   # pacman remove locks

# +-------+
# | fonts |
# +-------+

alias fonts='fc-cache -f -v'

# +-----+
# | yay |
# +-----+

alias yayi='yay -S'     # install
alias yayhi='yay -Ql'   # Yay Has Installed - what files where installed in a package
alias yays='yay -Ss'    # search
alias yayu='yay -Syu'   # update
alias yayr='yay -R'     # remove package but not dependencies
alias yayrr='yay -Rs'   # remove package with unused dependencies by other softwares
alias yayrc='yay -Sc'   # remove yay's cache
alias yayls="yay -Qe"

# +-----+
# | Git |
# +-----+

alias gs='git status'
alias gss='git status -s'
alias ga='git add'
alias gp='git push'
alias gpraise='git blame'
alias gpo='git push origin'
alias gplo='git pull origin'
alias gb='git branch '
alias gc='git commit'
alias gd='git diff'
alias gco='git checkout '
alias gl='git log --pretty=oneline'
alias gr='git remote'
alias grs='git remote show'
alias glol='git log --graph --abbrev-commit --oneline --decorate'

# +------+
# | nvim |
# +------+

alias vim='nvim'
alias vi='nvim'
alias v='nvim'

#nvim for important configuration files
alias npacman="sudo $EDITOR /etc/pacman.conf"
alias ngrub="sudo $EDITOR /etc/default/grub"
alias nconfgrub="sudo $EDITOR /boot/grub/grub.cfg"
alias nsddm="sudo $EDITOR /etc/sddm.conf"
alias nsddmk="sudo $EDITOR /etc/sddm.conf.d/kde_settings.conf"
alias nz="$EDITOR $ZDOTDIR/.zshrc"
alias nza="$EDITOR $ZDOTDIR/.aliases"
alias nenvironment="sudo $EDITOR /etc/environment"

alias nwaybar="$EDITOR $XDG_CONFIG_HOME/waybar/config.ctl"
alias nhypr="$EDITOR $XDG_CONFIG_HOME/hypr/userprefs.conf"
alias nhyprkeys="$EDITOR $XDG_CONFIG_HOME/hypr/keybindings.conf"
alias nnvim="$EDITOR $XDG_CONFIG_HOME/nvim/"
alias nkitty="$EDITOR $XDG_CONFIG_HOME/kitty/kitty.conf"
alias nlf="$EDITOR $XDG_CONFIG_HOME/lf/lfrc"

alias lf="yazi"

# +-----------+
# | Directory |
# +-----------+

alias d='dirs -v'
for index ({1..9}) alias "$index"="z +${index}"; unset index

# +------+
# | Misc |
# +------+

download() {
    if [[ $1 =~ ^https?://(www\.)?(youtube\.com|youtu\.be)/ ]]; then
        yt-dlp --format "bv*[ext=mp4]+ba[ext=m4a]/b[ext=mp4]" "$@"
    else
        gallery-dl -D . --cookies-from-browser firefox "$@"
    fi
}

alias download="download"

alias centerify="sh ~/.scripts/magick/centerify.sh"

alias claude="/home/faezix/.claude/local/claude"
